@font-face {
    font-family: Pattaya;
    src: url(../fonts/Pattaya.ttf); 
}

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
	font-size: 62.5%;
}
body {
	.wrapper{
		font-size: 1.6rem;
		font-family: 'Roboto';
		.sprite {
			background-image: url(../assets/img/spritesheet.png);
			background-repeat: no-repeat;
			display: block;
		}
		li {
			list-style: none;
		}
	
	}
}
.main {
	max-width: 1140px;
	margin: auto;
	.mainTitle {
		position: relative;
		margin-top: 4rem;
		text-align: center;
		color: #666;
		h1 {
			font: 6rem Pattaya;
			margin: 0;
		}
		img {
			display: block;
			position: absolute;
			left: 75%;
			bottom: 55%;
		}
		.border {
			max-width: 1400px;
			height: 30px;
			border-bottom: 1px dotted #6c6c6c;
			border-radius: 50%;
			margin-bottom: 1rem;
		}
	}
}
.mainBody {
	.breadCrumbs {
		display: flex;
		font-size: 1.2rem;
		padding-top: 1rem;
		margin-bottom: 4rem;
		li {
			a {
				padding: .5rem;
				color: #00ada5;
			}
			&:last-child {
				padding-left: .5rem;
				color: #ccc;
			}
		}
	}
	.social {
		margin-bottom: 4rem;
		p {
			padding-top: 1rem;
			font-size: 1.2rem;
			color: #666;
		}
		.socialIcon {
			display: flex;
			float: right;
			.sprite-fb {
				margin-right: 1rem;
				width: 31px;
				height: 31px;
				background-position: -10px -150px;
			}
			.sprite-twitter {
				margin-right: 1rem;
				width: 31px;
				height: 31px;
				background-position: -10px -338px;
			}
			.sprite-vk {
				width: 31px;
				height: 31px;
				background-position: -10px -389px;
			}
		}
	}
	.description {
		margin-bottom: 2rem;
		.art {
			padding: 10px;
			background-color: #ababab;
			color: #fff;
			width: 200px;
			border-radius: 0 20px 20px 20px;
			font-size: 1.2rem;
			margin-bottom: 1rem;
		}
		.number {
			font-size: 1.2rem;
			margin-bottom: 2rem;
			span {
				font-weight: bold;

			}
		}
		.size {
			padding: 2rem 0 4rem 0;
			color: #ababab;
			font-size: 1.6rem;
			border-top: 1px dotted #ababab;
			border-bottom: 1px dotted #ababab;
			margin-bottom: 2rem;
			p:nth-of-type(3) {
				margin-bottom: 4.5rem;
			}
			span {
				color: black;
				font-weight: bold;
				float: right;
			}
		}
		.priceContainer {
			border-bottom: 1px dotted #ababab;
			.price {
				margin-bottom: 2rem;
				.oldPrice {
					color: #ababab;
					font-size: 1.8rem;
					text-decoration: line-through;
					margin-bottom: 1.5rem;
				}
				.newPrice {
					font: bold 3rem/2rem "Roboto";
					color: #ff6c00;
				}
			}
			.count {
				margin-bottom: 2.5rem;
				p {
					color: #ababab;
					margin-bottom: 1rem;
				}
				.minus:hover {
					cursor: pointer;
				}
				input {
					font: bold 1.8rem/2.4rem "Roboto";
					width: 85px;
					border: none;
					padding: .5rem 0 .5rem 0;
					border-bottom: 2px solid #00ada5;
					margin: 0 1rem 0 1rem;
				}
				.plus:hover {
					cursor: pointer;
				}
			}
		}
		.toCart {
			margin-left: calc((100%/2) - 100px);
			margin-top: 3rem;
			margin-bottom: 3rem;
			border: none;
			border-radius: 30px;
			width: 200px;
			height: 60px;
			background: linear-gradient(to top, #fc3f02, #ffb042);
			.sprite-basket {
				float: left;
				margin-left: 2.5rem;
				width: 31px;
				height: 30px;
				background-position: -10px -10px;
			}
			span {
				color: #fff;
				font: bold 2.4rem/2rem "Roboto";
			}
		}
		.sumOrder {
			border-radius: 1.5rem;
			text-align: center;
			background-color: #ffe2cc;
			padding: 1rem;
		}
	}
	.fullDescrip {
		border-bottom: 1px dotted #ababab;
		.titleDes {
			margin-bottom: 2.5rem;
		}
		.firstDes {
			margin-bottom: 4rem;
		}
		.secondDes {
			margin-bottom: 8rem;
		}
	}
	.sliderBlock {
		max-width: 750px;
		max-height: 500px;
		box-shadow: 0px 50px 45px -35px #6c6c6c;
		margin-bottom: 8rem;
		img {
			display: block;
			width: 100%;
		}
	}
}

/* -----------------------------------------------------------------------SLIDER--------------------------------------------------------*/
.one-time .slick-arrow {
	height: 40px;
	width: 40px;
	background: url(../assets/img/prev.png) no-repeat;
	text-indent: -99999px;
	border: none;
	position: absolute;
	z-index: 2;
}

.one-time .slick-next {
	background-image: url(../assets/img/next.png);
}

.one-time .slick-arrow.slick-prev {
	left: 30px;
	bottom: 50%;
}

.one-time .slick-arrow.slick-next {
	right: 30px;
	bottom: 50%;
}

.slick-dots {
	position: relative;
	top: 50px;
	display: flex;
	justify-content: center;
	li{
		margin-right: 1rem;
	}
}

#slick-slide00, #slick-slide01, #slick-slide02, #slick-slide03, #slick-slide04, #slick-slide05 {
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

#slick-slide00:hover, #slick-slide01:hover, #slick-slide02:hover, #slick-slide03:hover, #slick-slide04:hover, #slick-slide05:hover {
	border-color: #000;
	cursor: pointer;
}

#slick-slide00.slick-active, #slick-slide01.slick-active, #slick-slide02.slick-active, #slick-slide03.slick-active, #slick-slide04.slick-active, #slick-slide05.slick-active {
    border-color: #000;
}
/*--------------------------------------------------------------------------------END-SLIDER---------------------------------------------------------------*/

@media screen and (min-width:768px) {
	.main {
		.mainTitle {
			img {
				left: 85%;
				bottom: 55%;
			}
		}
	}
}
@import "parts/header";


//.sprite {
//    background-image: url(spritesheet.png);
//    background-repeat: no-repeat;
//    display: block;
//}
//
//.sprite-basket {
//    width: 31px;
//    height: 30px;
//    background-position: -10px -10px;
//}
//
//.sprite-cartTotal {
//    width: 21px;
//    height: 20px;
//    background-position: -10px -60px;
//}
//
//.sprite-clothes {
//    width: 22px;
//    height: 30px;
//    background-position: -10px -100px;
//}
//
//.sprite-fb {
//    width: 31px;
//    height: 31px;
//    background-position: -10px -150px;
//}
//
//.sprite-menuButton {
//    width: 26px;
//    height: 24px;
//    background-position: -10px -201px;
//}
//
//.sprite-search {
//    width: 27px;
//    height: 27px;
//    background-position: -10px -245px;
//}
//
//.sprite-toysIcon {
//    width: 25px;
//    height: 26px;
//    background-position: -10px -292px;
//}
//
//.sprite-twitter {
//    width: 31px;
//    height: 31px;
//    background-position: -10px -338px;
//}
//
//.sprite-vk {
//    width: 31px;
//    height: 31px;
//    background-position: -10px -389px;
//}

//.one-time {
//	width: 100vw;
//	height: 100vh;
//}
//
//.one-time div{
//	width: 100vw;
//	background: url(../assets/img/Brushed2.jpg);
//	height: 100vh;
//}
//
//.one-time img{
//	position: relative;
//	display: block;
//	margin: auto;
//	top: calc((100vh/2) - (52px/2));
//}
//
//.one-time .slick-arrow {
//	height: 50px;
//	width: 50px;
//	background: url(../assets/img/arrow-down.png) 18px 17px no-repeat $colorDarkGrey;
//	text-indent: -99999px;
//	border: none;
//	position: absolute;
//	z-index: 2;
//	&:hover {
//		background-color: $colorRed;
//	}
//}
//
//.one-time .slick-next {
//	background-image: url(../assets/img/arrow-down1.png);
//}
//
//.one-time .slick-arrow.slick-prev {
//	left: 0;
//	bottom: 0;
//}
//
//.one-time .slick-arrow.slick-next {
//	left: 50px;
//	bottom: 0;
//}
//
//.slick-dots  {
//	position: relative;
//	top: -50px;
//	display: flex;
//	justify-content: center;
//    background-color: $colorGrey;
//    padding: 20px 0;
//}
//
//#slick-slide00, #slick-slide01, #slick-slide02{
//	text-indent: -9999px;
//	background-color: grey;
//	width: 10px;
//	height: 10px;
//	border-radius: 50%;
//}
//
//.slick-dots li{
//	margin-right: 1rem;
//	list-style: none;
//}
//
//#slick-slide00:hover, #slick-slide01:hover, #slick-slide02:hover {
//	background-color: $colorRed;
//	cursor: pointer;
//}
