@font-face {
  font-family: Pattaya;
  src: url(../fonts/Pattaya.ttf); }

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf); }

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body .wrapper {
  font-size: 1.6rem;
  font-family: Roboto-Regular; }
  body .wrapper .sprite {
    background-image: url(../assets/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block; }
  body .wrapper li {
    list-style: none; }

.main {
  max-width: 1140px;
  margin: auto; }
  .main .mainTitle {
    position: relative;
    margin-top: 4rem;
    text-align: center;
    color: #666; }
    .main .mainTitle h1 {
      font: 6rem Pattaya;
      margin: 0; }
    .main .mainTitle img {
      display: block;
      position: absolute;
      left: 75%;
      bottom: 55%; }
    .main .mainTitle .border {
      max-width: 1140px;
      height: 30px;
      border-bottom: 2px dotted #e5e5e5;
      border-radius: 50%;
      margin-bottom: 1rem; }

.mainBody .breadCrumbs {
  display: flex;
  font-size: 1.2rem;
  padding-top: 1rem;
  margin-bottom: 4rem; }
  .mainBody .breadCrumbs li a {
    padding: .5rem;
    color: #00ada5; }
  .mainBody .breadCrumbs li:last-child {
    padding-left: .5rem;
    color: #ccc; }

.mainBody .social {
  margin-bottom: 4rem; }
  .mainBody .social p {
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #666; }
  .mainBody .social .socialIcon {
    display: flex;
    float: right; }
    .mainBody .social .socialIcon .sprite-fb {
      margin-right: 1rem;
      width: 31px;
      height: 31px;
      background-position: -10px -150px; }
    .mainBody .social .socialIcon .sprite-twitter {
      margin-right: 1rem;
      width: 31px;
      height: 31px;
      background-position: -10px -338px; }
    .mainBody .social .socialIcon .sprite-vk {
      width: 31px;
      height: 31px;
      background-position: -10px -389px; }

.mainBody .description {
  margin-bottom: 2rem; }
  .mainBody .description .art {
    padding: 10px;
    background-color: #ababab;
    color: #fff;
    width: 200px;
    border-radius: 0 20px 20px 20px;
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  .mainBody .description .number {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
    .mainBody .description .number span {
      font-weight: bold; }
  .mainBody .description .size {
    padding: 2rem 0 4rem 0;
    color: #666;
    font-size: 1.6rem;
    border-top: 2px dotted #e5e5e5;
    border-bottom: 2px dotted #e5e5e5;
    margin-bottom: 2rem; }
    .mainBody .description .size p {
      padding: 1rem 0; }
      .mainBody .description .size p:nth-of-type(3) {
        margin-bottom: 4.5rem; }
    .mainBody .description .size span {
      color: black;
      font-weight: bold;
      float: right; }
  .mainBody .description .priceContainer {
    border-bottom: 2px dotted #e5e5e5; }
    .mainBody .description .priceContainer .price {
      margin-bottom: 2rem; }
      .mainBody .description .priceContainer .price .oldPrice {
        color: #ababab;
        font-size: 1.8rem;
        text-decoration: line-through;
        margin-bottom: 1.5rem; }
      .mainBody .description .priceContainer .price .newPrice {
        font: bold 3rem/2rem "Roboto";
        color: #ff6c00; }
    .mainBody .description .priceContainer .count {
      margin-bottom: 2.5rem; }
      .mainBody .description .priceContainer .count p {
        color: #ababab;
        margin-bottom: 1rem; }
      .mainBody .description .priceContainer .count .minus:hover {
        cursor: pointer; }
      .mainBody .description .priceContainer .count input {
        font: bold 1.8rem/2.4rem "Roboto";
        width: 85px;
        border: none;
        padding: .5rem 0 .5rem 0;
        border-bottom: 2px solid #00ada5;
        margin: 0 1rem 0 1rem; }
      .mainBody .description .priceContainer .count .plus:hover {
        cursor: pointer; }
  .mainBody .description .toCart {
    margin-left: calc((100%/2) - 100px);
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    background: linear-gradient(to top, #fc3f02, #ffb042); }
    .mainBody .description .toCart .sprite-basket {
      float: left;
      margin-left: 2.5rem;
      width: 31px;
      height: 30px;
      background-position: -10px -10px; }
    .mainBody .description .toCart span {
      color: #fff;
      font: bold 2.4rem/2rem "Roboto"; }
  .mainBody .description .sumOrder {
    border-radius: 1.5rem;
    text-align: center;
    background-color: #ffe2cc;
    padding: 1rem; }

.mainBody .fullDescrip {
  border-bottom: 1px dotted #e5e5e5;
  margin-bottom: 2rem; }
  .mainBody .fullDescrip .titleDes {
    margin-bottom: 2.5rem;
    font: 2.4rem Roboto-Bold;
    color: #000; }
  .mainBody .fullDescrip .firstDes {
    margin-bottom: 4rem; }
  .mainBody .fullDescrip .secondDes {
    margin-bottom: 8rem; }

.mainBody .sliderBlock {
  max-width: 750px;
  max-height: 500px;
  box-shadow: 0px 50px 45px -35px #6c6c6c;
  margin-bottom: 8rem; }
  .mainBody .sliderBlock img {
    display: block;
    width: 100%; }

/* -----------------------------------------------------------------------SLIDER--------------------------------------------------------*/
.one-time .slick-arrow {
  height: 40px;
  width: 40px;
  background: url(../assets/img/prev.png) no-repeat;
  text-indent: -99999px;
  border: none;
  position: absolute;
  z-index: 2; }

.one-time .slick-next {
  background-image: url(../assets/img/next.png); }

.one-time .slick-arrow.slick-prev {
  left: 30px;
  bottom: 50%; }

.one-time .slick-arrow.slick-next {
  right: 30px;
  bottom: 50%; }

.slick-dots {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center; }
  .slick-dots li {
    margin-right: 1rem; }

#slick-slide00, #slick-slide01, #slick-slide02, #slick-slide03, #slick-slide04, #slick-slide05 {
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%; }

#slick-slide00:hover, #slick-slide01:hover, #slick-slide02:hover, #slick-slide03:hover, #slick-slide04:hover, #slick-slide05:hover {
  border-color: #000;
  cursor: pointer; }

#slick-slide00.slick-active, #slick-slide01.slick-active, #slick-slide02.slick-active, #slick-slide03.slick-active, #slick-slide04.slick-active, #slick-slide05.slick-active {
  border-color: #000; }

/*--------------------------------------------------------------------------------END-SLIDER---------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .main .mainTitle img {
    left: 85%;
    bottom: 55%; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainBody .description .priceContainer .count input {
    width: 40px; } }

.header {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3); }
  .header .headerBottom {
    background: #ababab;
    color: #fff; }
    .header .headerBottom ul {
      display: flex;
      justify-content: flex-start; }
      .header .headerBottom ul li {
        text-align: center; }
        .header .headerBottom ul li a {
          color: #fff; }
    .header .headerBottom .menu li {
      padding: .6rem;
      border-right: 1px dotted #eaeaea; }
      .header .headerBottom .menu li:nth-child(4) {
        margin-right: 0; }
    .header .headerBottom .contact {
      font-size: 1.2rem;
      display: none; }
  .header .logo {
    display: none;
    float: left; }
  .header .sprite-menuButton {
    width: 26px;
    height: 24px;
    background-position: -10px -201px;
    float: left;
    margin: 2rem 2rem; }
  .header .search input {
    border: none;
    border-bottom: 1px solid #00ada5;
    margin-right: 1rem;
    width: 250px; }
  .header .login {
    float: right;
    color: #00ada5;
    display: inline-block;
    margin: 2.5rem 0;
    text-transform: uppercase;
    font-weight: bold; }
  .header .cartLink {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 1rem .5rem;
    margin: 1rem 2rem;
    border-radius: 50%;
    background-color: #ff6f00;
    color: #fff;
    float: right; }
    .header .cartLink:hover {
      background-color: #fd903c; }
    .header .cartLink .sprite-cartTotal {
      margin-right: .7rem;
      display: inline-block;
      width: 21px;
      height: 20px;
      background-position: -10px -60px; }

.searchButton {
  margin-top: 2rem;
  display: block;
  float: left; }
  .searchButton:hover {
    cursor: pointer; }
  .searchButton .sprite-search {
    width: 27px;
    height: 27px;
    background-position: -10px -245px; }

.clear {
  clear: both; }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header .headerTop .search {
    position: absolute;
    top: 12rem;
    left: -250px;
    z-index: 3;
    transition: left 1s; }
  .header .headerTop .active {
    left: calc((100vw - 250px)/2); }
  .header .headerTop .headerBottom .menu {
    margin-right: 2rem; } }

@media screen and (min-width: 768px) {
  .header .headerTop .logo {
    display: block; }
  .header .headerTop .search {
    margin: 30px 0 0 10px;
    position: static;
    float: left; }
  .header .headerTop .searchButton {
    margin-top: 2.5rem; }
  .header .headerTop .login {
    padding-top: 1rem; }
  .header .headerTop .cartLink {
    margin-top: 22px; }
  .header .headerBottom .menu {
    float: left;
    margin-right: 3rem; }
  .header .headerBottom .contact {
    display: flex;
    padding: 1rem 0; }
    .header .headerBottom .contact li {
      padding: 0 .5rem; }
      .header .headerBottom .contact li p {
        color: #fff; } }

@media screen and (min-width: 1024px) {
  .header .headerTop .search {
    margin-left: calc((100vw/2) - 450px); }
  .header .headerBottom .menu {
    margin-right: calc(100vw - 895px); }
    .header .headerBottom .menu li {
      padding: .6rem 2rem; } }

@media screen and (min-width: 1200px) {
  .header .headerTop .search input {
    width: 520px; } }

/* Slider ---------------------------------------------------------------
--------------------------------------------------*/
.contentRev {
  max-width: 1140px; }

.sectionRev {
  padding-bottom: 4.5rem;
  border-bottom: 1px dotted #e5e5e5;
  margin-bottom: 3rem; }
  .sectionRev h3 {
    margin-bottom: 3rem;
    font-size: 2.4rem; }
  .sectionRev article {
    margin-bottom: 3.5rem; }
    .sectionRev article h4 {
      margin-bottom: 1rem; }
      .sectionRev article h4 span {
        color: #666;
        font-weight: 300; }
    .sectionRev article p {
      font-size: 1.4rem; }

.formRev h3 {
  margin-bottom: 4rem;
  font-size: 1.8rem; }

.formRev p {
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 1rem; }

.formRev input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #00ada5;
  margin-bottom: .5rem; }

.formRev .simbols {
  float: right; }

.formRev button {
  margin-top: 4rem;
  width: 140px;
  font: 1.4rem Roboto-Bold;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to top, #01afa7, #14cbc3); }

.pagesRev {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  padding-bottom: 12rem;
  border-bottom: 1px dotted #e5e5e5;
  margin-bottom: 3rem; }
  .pagesRev li {
    margin-right: 1rem; }
    .pagesRev li a {
      text-decoration: underline;
      color: #00ada5;
      padding: 1rem 2rem;
      border: 1px solid #ccefed;
      border-radius: 2rem;
      font-weight: bold; }
      .pagesRev li a:hover {
        text-decoration: none;
        border-color: #737373;
        cursor: pointer; }
      .pagesRev li a:active {
        border-color: #737373; }

.otherBuyContainer {
  max-width: 1140px; }
  .otherBuyContainer .sectionBuy {
    padding-bottom: 3rem;
    margin-bottom: 120px; }
    .otherBuyContainer .sectionBuy h3 {
      font: 2.4rem Roboto-Bold;
      margin-bottom: 2rem; }
    .otherBuyContainer .sectionBuy article {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      height: 595px;
      text-align: center;
      padding-bottom: 3rem;
      border-radius: 5px;
      margin-bottom: 2rem; }
      .otherBuyContainer .sectionBuy article img {
        margin-bottom: 3rem; }
      .otherBuyContainer .sectionBuy article h4 {
        font: 1.8rem Roboto-Bold;
        margin-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        text-align: left; }
        .otherBuyContainer .sectionBuy article h4 a {
          color: #00ada5; }
      .otherBuyContainer .sectionBuy article i {
        margin-left: 3rem;
        margin-bottom: 2.5rem; }
        .otherBuyContainer .sectionBuy article i span a {
          text-align: left;
          display: inline-block;
          width: 140px;
          margin-left: 4rem;
          font: 1.4rem Roboto-Medium;
          color: #00ada5; }
      .otherBuyContainer .sectionBuy article .decriptP {
        text-align: left;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 3rem; }
      .otherBuyContainer .sectionBuy article .buttonP {
        position: absolute;
        bottom: 3rem;
        left: 4rem; }
        .otherBuyContainer .sectionBuy article .buttonP span {
          font: 1.8rem Roboto-Bold;
          margin-right: -6rem;
          padding: 1.2rem 12rem 1.2rem 1rem;
          border: 1px solid #ffe2cc;
          border-radius: 2.8rem; }
        .otherBuyContainer .sectionBuy article .buttonP .buttonBuy {
          background: linear-gradient(to top, #fc3f02, #ffb042);
          border: none;
          border-radius: 25px;
          vertical-align: middle; }
          .otherBuyContainer .sectionBuy article .buttonP .buttonBuy i {
            margin: 1rem 2rem; }
  .otherBuyContainer .sprite-toysIcon {
    width: 25px;
    height: 26px;
    background-position: -10px -292px; }
  .otherBuyContainer .sprite-basket {
    width: 31px;
    height: 30px;
    background-position: -10px -10px; }

.youWatched {
  max-width: 1140px;
  margin-bottom: 175px; }
  .youWatched .sectionWatch h3 {
    font: 4.8rem/6rem Pattaya;
    color: #666;
    text-align: center; }
  .youWatched .sectionWatch .border {
    max-width: 1140px;
    height: 40px;
    border-bottom: 2px dotted #e5e5e5;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .youWatched .sectionWatch article {
    text-align: center;
    margin-bottom: 2rem; }
    .youWatched .sectionWatch article img {
      width: 100%;
      margin-bottom: 2rem; }
    .youWatched .sectionWatch article h4 {
      margin-bottom: 2rem;
      text-align: left; }
      .youWatched .sectionWatch article h4 a {
        color: #00ada5;
        font: 1.6rem Roboto-Bold; }
    .youWatched .sectionWatch article a {
      display: block;
      color: #00ada5;
      font: 1.4rem Roboto-Medium;
      text-align: left; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .sectionWatch article:nth-of-type(2n+3) {
    clear: both; } }

@media screen and (width: 768px) {
  .sectionWatch article:nth-of-type(4n+5) {
    clear: both; } }

.footer {
  max-width: 1140px;
  padding-bottom: 3rem;
  border-bottom: 2px dotted #e5e5e5; }
  .footer h5 {
    margin-bottom: 3rem; }
  .footer ul {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start; }
    .footer ul li {
      margin: 0 2rem 2rem 0; }
      .footer ul li a {
        font: 1.6rem Roboto-Regular;
        color: #00ada5; }
  .footer .menu ul li {
    margin-right: 0; }
    .footer .menu ul li:nth-of-type(3) {
      margin-right: 5rem; }
  .footer .contacts ul li {
    font: 1.4rem Roboto-Regulat; }
    .footer .contacts ul li:nth-of-type(2) {
      margin-bottom: 0; }
    .footer .contacts ul li:nth-of-type(3) {
      margin-bottom: 0; }
