footer.footer
	.footerTop.container-fluid
		.row
			.catalog.col-md-8
				h5 КАТАЛОГ
				ul
					li
						a(href="") Акции и новинки
					li
						a(href="") Игрушки
					li
						a(href="") Канцтовары
					li
						a(href="") Intex и Bestway
					li
						a(href="") Спортивные товары
					li
						a(href="") Одежда и обувь
					li
						a(href="") Для самых маленьких
					li
						a(href="") Деская мебель
					li
						a(href="") Детский транспорт
					li
						a(href="") Литература
			.menu.col-md-2
				h5 МЕНЮ
				ul
					li
						a(href="") О нас
					li
						a(href="") Доставка и оплата
					li
						a(href="") Статьи
					li
						a(href="") Отзывы
			.contacts.col-md-2
				h5 КОНТАКТЫ
				ul
					li
						a(href="") office@babyplus.od.ua
					li +38 (096) 80-60-500, 
					li +38 (050) 222-50-15, 
					li +38 (093) 27-50-600
					li icq: 166874724
	.footerBottom.container-fluid
		.row
			p.atention.col-md-8 Перепечатывание и использование материалов в электронном формате разрешается только при наличии гиперссылки на babyplus.com.ua. Использование материалов в печатных изданиях допускается только с письменного разрешения компании и/или автора материалов.
			p.copyright.col-md-4 © 2016 Baby Plus. Все права защищены