main.main.container-fluid
	.mainTitle
		.row
			h1 
				| Настольная игра
				br 
				| Футбольная монополия
			+ image("sale.png", "sale")
		.border
	.mainBody
		.row
			ul.breadCrumbs.col-sm-8
				li
					a(href="") babyplus.ua
					span -
				li
					a(href="") Игрушки
					span -
				li Настольная игра Футбольная монополия
			.social.col-sm-4
				.row
					p.col-xs-6 Поделиться с друзьями:
					ul.socialIcon.col-xs-6
						i.sprite.sprite-fb
						i.sprite.sprite-twitter
						i.sprite.sprite-vk
		.row
			.one-time.col-sm-8.sliderBlock
				div 
					+ image("monopol.jpg", "monopol")
				div 
					+ image("monopol.jpg", "monopol")
				div 
					+ image("monopol.jpg", "monopol")
				div 
					+ image("monopol.jpg", "monopol")
				div 
					+ image("monopol.jpg", "monopol")
				div 
					+ image("monopol.jpg", "monopol")
			.description.col-sm-4
				p.art Артикул MAD-IGRAMONOFUDB
				p.number Заводской номер 
					span Max Group MG038
				.size
					p Длина ............. 
						span 41.0 см
					p Ширина ............ 
						span 27.0 см
					p Высота ............ 
						span 5.0 см
					p 
						| Кол-во штук в
						br 
						| коробке ..........  
						span 10
				.row.priceContainer
					.price.col-sm-6
						p.oldPrice 769
						p.newPrice 569
					.count.col-sm-6
						p Количество
						span.minus
							+ image("minus.png", "minus")
						input(type='text', value='1', size='5')
						span.plus
							+ image("plus.png", "plus")
				button.toCart(type="button")
					i.sprite.sprite-basket
					span В корзину
				p.sumOrder Минимальная сумма заказа 300грн
			.fullDescrip.col-sm-8
				h2.titleDes Подробное описание
				p.firstDes Придумал игру «Монополия» Чарльз Дэрроу, который предложил свою идею компании «Parker Brothers» в 1935г. ?| Это была игра THE MONOPOLY. После чего началось стремительное завоевание «Монополией» всего мира. 
				p.secondDes Эта интеллектуальная игра обучает торговле недвижимостью и обращению с накопленным капиталом. Настольная игра монополия продается более чем в 80 странах мира и переведена на 26 языков. Предоставленная Monopoly-Club игра монополия онлайн сделана на современный манер и во многом отличается от классической настольной, но не утратила смысла и принципа классической версии.