.otherBuyContainer.container-fluid
	.row
		section.sectionBuy.col-xs-12
			h3 С этим товаром также покупают
			.row
				article.col-lg-3.col-md-4.col-sm-6
					+ image("tractor.jpg", "tractor")
					h4 
						a(href="") Экскаватор колесный на р/у
					i.sprite.sprite-toysIcon
						span
							a(herf="") Игрушки
					p.decriptP Аккум. свет, движение раздельно правые-левые колеса, подьем стрелы, сжатие ковша
					p.buttonP 
						span 569 грн
						button.buttonBuy
							i.sprite.sprite-basket
				article.col-lg-3.col-md-4.col-sm-6
					+ image("socks.jpg", "socks")
					h4 
						a(href="") Носочки мохровые
					i.sprite.sprite-toysIcon
						span
							a(herf="") Одежда и обувь
					p.decriptP 3 шт в упаковке. Цвета в ассорименте (8-9 см)
					p.buttonP 
						span 27 грн
						button.buttonBuy
							i.sprite.sprite-basket
				article.col-lg-3.col-md-4.col-sm-6
					+ image("bag.jpg", "bag")
					h4 
						a(href="") Сумка для пренадлежностей малыша
					i.sprite.sprite-toysIcon
						span
							a(herf="") Одежда и обувь
					p.decriptP 1 отд. Подстилка, 2 вида
					p.buttonP 
						span 274 грн
						button.buttonBuy
							i.sprite.sprite-basket
				article.col-lg-3.col-md-4.col-sm-6
					+ image("socks.jpg", "socks")
					h4 
						a(href="") Носочки мохровые
					i.sprite.sprite-toysIcon
						span
							a(herf="") Одежда и обувь
					p.decriptP 3 шт в упаковке. Цвета в ассорименте (8-9 см)
					p.buttonP 
						span 27 грн
						button.buttonBuy
							i.sprite.sprite-basket