.container-fluid.contentRev
	.row
		section.sectionRev.col-sm-8
			h3 Коментарии 
				span (17)
			article
				h4 Юлия, 
					span 18 ноября 2015
				p Добрый вечер, подскажите, пожалуйста, куда обратиться в Киеве по поводу ремонта ручки. Спасибо!!! Достоинства: обалденная развлекуха для ребенка! Да что там, и для взрослых тоже! Недостатки: взяла и перестала работать))))))) умерла, так сказать, посреди полного здоровья)))))
			article
				h4 Анна, 
					span 18 ноября 2015
				p Скажите до какого возраста она реально интересна? На 6 лет в подарок не стоит брать?
			article 
				h4 Lena, 
					span 18 ноября 2015
				p Скажите, где в Харькове можно обратиться за сервисным обслуживанеем данной ручки, перестала заряжаться. Используется активно уже 2 года.
			article
				h4 Яна, 
					span 18 ноября 2015
				p Долго думала нужна она моему ребенку или нет... Купила... Радовалась больше мама, а не ребенок :-) Я же понимала, какая она хорошая и дорогая, а ребенок-Нет! Недостатков в ней не вижу, кроме цены самой ручки и книг к ней... Достоинства описаны выше. Интересная штука, но все- таки игрушка! Ребенок быстро остыли... И рушится она на полке дорогих гаджетов!
			article
				h4 Алексей, 
					span 18 ноября 2015
				p Дочке очень нравится
		form.formRev.col-sm-4
			h3 ОСТАВИТЬ КОММЕНТАРИЙ
			p Ваш комментарий
			input(type="text", placeholder="Напишите свой комментарий")
			p.simbols 42/140
			button(type="submit") Отправить
		ul.pagesRev.col-sm-8
			li
				a(href="") 1
			li
				a(href="") 2
			li
				a(href="") 3
			li
				a(href="") 4
			li
				a(href="") 5
			li ...
			li
				a(href="") 15