.youWatched.container-fluid
	.row
		section.sectionWatch.col-xs-12
			h3#anchor Вы смотрели
			.border
			.row
				article.col-md-2.col-sm-3.col-xs-6
					+ image("tractor.jpg", "tractor")
					h4 
						a(href="") Экскаватор колесный на р/у
					a(herf="") Игрушки
				article.col-md-2.col-sm-3.col-xs-6
					+ image("socks.jpg", "socks")
					h4 
						a(href="") Носочки мохровые
					a(herf="") Одежда и обувь
				article.col-md-2.col-sm-3.col-xs-6
					+ image("bag.jpg", "bag")
					h4 
						a(href="") Сумка для пренадлежностей малыша
					a(herf="") Одежда и обувь
				article.col-md-2.col-sm-3.col-xs-6
					+ image("socks.jpg", "socks")
					h4 
						a(href="") Носочки мохровые
					a(herf="") Одежда и обувь
				article.col-md-2.col-sm-3.col-xs-6
					+ image("socks.jpg", "socks")
					h4 
						a(href="") Носочки мохровые
					a(herf="") Одежда и обувь
				article.col-md-2.col-sm-3.col-xs-6
					+ image("socks.jpg", "socks")
					h4 
						a(href="") Носочки мохровые
					a(herf="") Одежда и обувь