doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body
		.wrapper
			header.header.container-fluid
				button(type="button").menuButton
					+ image("menuButton.png", "menuButton")
				.logo
					+ image("logo.png", "logo")
				form.search
					input(type="text", placeholder="Поиск среди более 3300 товаров").searchInput
				.searchButton
					+ image("search.png", "search")
				a(href="").login Войти
				a.cartLink(href="")
					+ image("cartTotal.png", "cart")
					span 2
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/user.js")

		