doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body
		.wrapper
			include includes/header.pug
			include includes/main.pug
			.reviews.container
				.containerRev
						section.sectionRev.col-sm-8
							h3 Коментарии 
								span (17)
							article
								h4 Юлия
								p
							article
								h4 Анна
								p
							article 
								h4 Lena
								p
							article
								h4 Яна
								p
							article
								h4 Алексей
								p
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/user.js")
//<i class="sprite sprite-basket"></i>
//<i class="sprite sprite-cartTotal"></i>
//<i class="sprite sprite-clothes"></i>
//<i class="sprite sprite-fb"></i>
//<i class="sprite sprite-menuButton"></i>
//<i class="sprite sprite-search"></i>
//<i class="sprite sprite-toysIcon"></i>
//<i class="sprite sprite-twitter"></i>
//<i class="sprite sprite-vk"></i>
		