doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body
		.wrapper
			include includes/header.pug
			include includes/main.pug
			include includes/reviews.pug
			include includes/otherBuy.pug
			include includes/youWatched.pug
			include includes/footer.pug
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/PageScroll2id.min.js")
		script(src="js/user.js")
//<i class="sprite sprite-basket"></i>
//<i class="sprite sprite-cartTotal"></i>
//<i class="sprite sprite-clothes"></i>
//<i class="sprite sprite-fb"></i>
//<i class="sprite sprite-menuButton"></i>
//<i class="sprite sprite-search"></i>
//<i class="sprite sprite-toysIcon"></i>
//<i class="sprite sprite-twitter"></i>
//<i class="sprite sprite-vk"></i>
		